<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
        
        <title>
            {% if found %}
                Download | {{name}}
            {% else %}
                Ooops...
            {% endif %}
        </title>
        

    </head>
    <body>
        <div class="m-auto w-full xl:max-w-screen-xl">
            <header class="p-4 bg-gray-300 text-gray-700 rounded">
            
                <a class="text-base md:text-lg lg:text-xl xl:text-2xl" href="https://tx.me/tg2extbot">@Tg2extBot</a>
        
            </header>
            
            <div class="p-4 space-y-8">
                {% if found %}
                    <h1 class="text-blue-500 text-center text-lg md:text-xl lg:text-2xl xl:text-4xl w-full break-all">
                        Download {{name}}
                    </h1>
                     
                    <div class="mx-auto w-full md:w-3/4 lg:w-4/5">
                        {% if media.image %}
                            <img class="mx-auto w-1/2 md:w-3/5 lg:w-2/5 rounded" src="/stream/{{id}}/{{name}}" alt="{{name}}">
                        
                        {% elif media.video %}
                            <video id="my-video-player" class="mx-auto w-full rounded" controls >
                                <source src="/stream/{{id}}/{{name}}">
                            </video>
                        {% elif media.audio %}
                            <audio class="mx-auto" controls autoplay muted src="/stream/{{id}}/{{name}}" type="{{ media.type }}"></audio>
                        {% endif %}
                        
                        {% if caption %}
                        
                            <p class="mt-1 rounded text-center p-4 bg-gray-900 text-gray-300 font-mono text-xs lg:text-sm xl:text-lg">
                            
                                {{ caption }}
                            
                            </p>
                        
                        {% endif %}
                        
                    </div>
                    
                    <div class="text-center text-white text-sm md:text-base xl:text-2xl">
                
                        <a class="rounded p-3 bg-indigo-500 hover:bg-indigo-700 shadow-lg" href="/download/{{id}}/{{name}}">Download Now! ({{ size }})</a>
                    
                    </div>
                    
                {% else %}
                    <h1 class="text-blue-500 text-center text-2xl md:text-3xl lg:text-4xl xl:text-5xl">Ooops...</h1>
                
                    <p class="text-center text-sm md:text-base lg:text-xl xl:text-2xl font-semibold">
                        {{ reason }}
                    </p>
                {% endif %}
                
            </div>
            
            <footer class="p-4 mt-4 bg-gray-300 text-gray-700 text-center">
            
                <a class="text-sm md:text-base lg:text-lg xl:text-xl" href="https://tx.me/odbots">@odbots</a>
            
            </footer>
        </div>
        
        <script>
            var myFP = fluidPlayer(
                'my-video-player',{
                    "layoutControls": {
                        "controlBar": {
                            "autoHideTimeout": 3,
                            "animated": true,
                            "autoHide": true
                        },
                        "logo": {
                            "imageUrl": null,
                            "position": "top left",
                            "clickUrl": null,
                            "opacity": 1
                        },
                        "htmlOnPauseBlock": {
                            "html": null,
                            "height": null,
                            "width": null
                        },
                        "autoPlay": false,
                        "mute": true,
                        "allowTheatre": true,
                        "playPauseAnimation": true,
                        "playbackRateEnabled": true,
                        "allowDownload": false,
                        "playButtonShowing": true,
                        "fillToContainer": true,
                        "posterImage": ""
                    },
                    "vastOptions": {
                        "adList": [],
                        "adCTAText": false,
                        "adCTATextPosition": ""
                    }
                }
            );
        </script>
        
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172336751-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-172336751-1');
        </script>
        
    </body>
</html>
