<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
        
        <title>
            {% if found %}
                Download | {{name}}
            {% else %}
                Ooops...
            {% endif %}
        </title>
        

    </head>
    <body>
        <div class="m-auto w-full xl:max-w-screen-xl">
            <header class="p-4 bg-gray-300 text-gray-700 rounded">
            
                <a class="text-base md:text-lg lg:text-xl xl:text-2xl" href="https://tx.me/tg2extbot">@Tg2extBot</a>
        
            </header>
            
            <div class="p-4 space-y-8">
                {% if found %}
                    <h1 class="text-blue-500 text-center text-lg md:text-xl lg:text-2xl xl:text-4xl w-full break-all">
                        Download {{name}}
                    </h1>
                     
                    <div class="mx-auto w-full md:w-3/4 lg:w-4/5">
                        {% if media.image %}
                            <img class="mx-auto w-1/2 md:w-3/5 lg:w-2/5 rounded" src="/stream/{{id}}/{{name}}" alt="{{name}}">
                        
                        {% elif media.video %}
                            <div id="video-warning" class="mx-auto p-4 bg-gray-600 text-gray-300 rounded border text-center hidden break-words">
                                    <p> Video {{name}} could not be played!</p>
                            </div>

                            <div class="mx-auto" id="vid-container">
                                <video id="my-video-player" class="w-full rounded" controls >
                                    <source src="/stream/{{id}}/{{name}}" type="video/mp4" >
                                </video>
                            </div>

                            <script>
                                var video = document.querySelector("video");
                                var src = video.firstElementChild

                                src.addEventListener('error', function(evt) {
                                    console.log(evt);
                                    document.getElementById('vid-container').style.display = 'none';
                                    document.getElementById('video-warning').style.display = 'block';
                                }); 
                                var myFP = fluidPlayer(
                                    'my-video-player',{
                                        "layoutControls": {
                                            "autoPlay": false,
                                            "mute": true,
                                            "allowTheatre": true,
                                            "playPauseAnimation": true,
                                            "playbackRateEnabled": true,
                                            "allowDownload": false,
                                            "playButtonShowing": true,
                                        }
                                    }
                                );
                            </script>
                        {% elif media.audio %}
                            <div id="audio-warning" class="mx-auto p-4 bg-gray-600 text-gray-300 rounded border text-center hidden break-words">
                                <p> Audio {{name}} could not be played!</p>
                            </div>

                            <div class="mx-auto" id="aud-container">
                                <audio class="mx-auto" controls autoplay muted >
                                    <source src="/stream/{{id}}/{{name}}" type="audio/mpeg">
                                </audio>
                            </div>

                            <script>
                                    var audio = document.querySelector("audio");
                                    var src = audio.firstElementChild

                                    src.addEventListener('error', function(evt) {
                                        console.log(evt);
                                        document.getElementById('aud-container').style.display = 'none';
                                        document.getElementById('audio-warning').style.display = 'block';
                                    });
                            </script>
                        {% endif %}
                        
                        {% if caption %}
                        
                            <p class="mt-1 rounded text-center p-4 bg-gray-900 text-gray-300 font-mono text-xs lg:text-sm xl:text-lg">
                            
                                {{ caption }}
                            
                            </p>
                        
                        {% endif %}
                        
                    </div>
                    
                    <div class="text-center text-white text-sm md:text-base xl:text-2xl">
                
                        <a class="rounded p-3 bg-indigo-500 hover:bg-indigo-700 shadow-lg" href="/download/{{id}}/{{name}}">Download Now! ({{ size }})</a>
                    
                    </div>
                    
                {% else %}
                    <h1 class="text-blue-500 text-center text-2xl md:text-3xl lg:text-4xl xl:text-5xl">Ooops...</h1>
                
                    <p class="text-center text-sm md:text-base lg:text-xl xl:text-2xl font-semibold">
                        {{ reason }}
                    </p>
                {% endif %}
                
            </div>
            
            <footer class="p-4 mt-4 bg-gray-300 text-gray-700 text-center">
            
                <a class="text-sm md:text-base lg:text-lg xl:text-xl" href="https://tx.me/odbots">@odbots</a>
            
            </footer>
        </div>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172336751-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-172336751-1');
        </script>
        
    </body>
</html>
